#root {
  width: 100%;
  min-height: 100vh;

  --hero-height: 20rem;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  height: 25rem;
}

.hero>h1 {
  position: absolute;
  font-size: 6rem;
  font-weight: bold;
  color: var(--text-50);
  text-shadow: 5px 6px 7px rgba(0, 0, 0, 0.5)
}

.hero>img {
  z-index: -1;
  width: 100%;
  object-fit: cover;
  object-position: center -8em;

  opacity: .8;
  filter: blur(1.5px);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.content {
  width: 50%;
  margin: 0 auto;
  padding: .5em 2em;
  margin-top: -7rem;
  min-height: 20rem;

  border-radius: .7em;
  background-color: var(--background-900);
  box-shadow: 5px 2px 50px color-mix(in srgb, var(--accent-700) 80%, transparent 100%);
}

.content>article>p>span {
  color: var(--accent-500);
  font-weight: bold;
  font-style: italic;
}

.coffees-list {
  margin: 20px 10px 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em 5em;
}

.coffee-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  gap: .5em;
}

.coffee-filter-container>p {
  font-size: large;
  font-weight: bold;
}

.coffee-filter {
  font-size: large;
  font-weight: bold;
  width: fit-content;
  padding: .5em 1.2em;
  border-radius: 5px;
  border: none;
  background-color: var(--accent-500);
  color: var(--background-950);

  transition: color .14s ease-in-out, background-color .14s ease-in-out;

  &:hover {
    background-color: var(--accent-700);
    color: var(--text-50);
  }
}

@media (width <=875px) {
  .hero>h1 {
    font-size: 3rem;
    top: 10%;
  }

  .coffees-list {
    align-items: center;
    flex-direction: column;
  }

  .about>p {
    max-height: 20rem;
    overflow-y: auto;
  }
}